/* Custom styles for additional styling needs */
.message-button {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: white;
  border: 2px solid rgb(10, 102, 205);
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.message-button:hover {
  background-color: rgb(10, 95, 193);
  color: white;
}

.create-button:hover {
  background-color: rgb(10, 95, 193);
}

.mentors-tab:hover, .mentee-tab:hover {
  background-color: rgb(79, 138, 206);
}
